/* ========= FLEX ======== */
.flex {
  display: flex;
}

.flex.align-center {
  align-items: center;
}

.flex.space-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

/*=========== LIST ===========*/
.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* ======= LIMITED TEXT =======   */
/* limit for 3 lines  */
.limited-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* 1 line limit, add overflow: hidden; to parent  */
.ellipsis {
  text-overflow: ellipsis;
  /* enables ellipsis */
  white-space: nowrap;
  /* keeps the text in a single line */
  overflow: hidden;
  /* keeps the element from overflowing its parent */
}
/* ========= HIDDEN ======== */
.hidden {
  display: none;
}

/* mobile only  */
@media (max-width: 600px) {
  .hide-on-small-screen {
    display: none;
  }

  .hide-on-big-screen {
    display: initial;
  }
}

/* small  */
@media (min-width: 600px) {
  .hide-on-small-screen {
    display: initial;
  }

  .hide-on-big-screen {
    display: none;
  }
}

/* medium  */
@media (min-width: 960px) {
}

/* large  */
@media (min-width: 1200px) {
}

/* ========== OTHER ===========  */
/* center icons in buttons  */
.place-items-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold;
}

/* font awesome */
.fa {
  font-family: fa;
}

.fa.fa-facebook::before {
  content: '\f39e';
}

.fa.fa-twitter::before {
  content: '\f099';
}

.fa.fa-dribbble::before {
  content: '\f17d';
}

.fa.fa-behance::before {
  content: '\f1b4';
}
